{{#each erros}} <!--Estrutura each do handlebars, Para cada erro, ele vai printar a div com o texto do erro do admin.js--> 
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<h3>Editar:</h3>
<br>
<div class="card">
    <div class="card-body">
    <form action="/admin/categorias/edit" method="POST">
    <input type="hidden" name="id" value="{{categoria._id}}"> <!--Criou um input escondido apenas para listar o Id da categoria para depois ser chamado no backend-->
    <label for="nome">Nome: </label>
        <input type="text" id="nome" name="nome" placeholder="Nome das categorias" class="form-control" value="{{categoria.nome}}">
    <label for="slug">Slug: </label>
        <input type="text" id="slug" name="slug" placeholder="Slug da categoria" class="form-control" value="{{categoria.slug}}">
        <br>
    <button type="submit" class="btn btn-success">Editar categoria</button>
   
</form>
</div>
</div> 